body {
    line-height: 1.5;
}

a {
    display: inline-block;
    text-decoration: none;
}

img {
    vertical-align: middle;
}

ul {
    padding-left: 0;
    margin-bottom: 0;
}

li {
    list-style: none;
}